body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 10vh;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}
li {
    font-size: 20px;
}